In [1]:
!pip install autoscraper
from autoscraper import AutoScraper

Collecting autoscraper
  Downloading autoscraper-1.1.12-py3-none-any.whl (10 kB)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from autoscraper) (0.0.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from autoscraper) (4.2.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from autoscraper) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->autoscraper) (4.6.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (2021.10.8)
Installing collected packages: autoscraper
Successfully installed autoscraper-1.1.12

In [2]:
url="https://internshala.com/internships/data%20science-internship-in-bangalore"
wanted_list=["Computer Vision","Smart Cricket Global Limited","Bangalore"]

In [3]:
scraper=AutoScraper()
result=scraper.build(url,wanted_list)
print(result)

['HR Analytics', 'Computer Vision', 'Machine Learning/Management Trainee', 'Technical Program Management', 'Business Analytics', 'Data Science', 'Machine Learning', 'Research Analyst', 'Big Data', 'Data Analytics', 'Data Engineering/Big Data Development & Testing', 'PhonePe Private Limited', 'Smart Cricket Global Limited', 'Gfactors', 'CogSciAi - Cognitive Science Artificial Intelligence Private Limited', 'Vah Vah!', 'Fedo', 'Newgen Creations Private Limited', 'Eloelo - Greenhorn Wellness Private Limited', 'Lincode Labs Private Limited', 'Bzaar', 'Translab Technologies Private Limited', 'Airtory', 'Gloify', 'ExxpertSCM (A Unit Of Thoughtware Training Private Limited)', 'Blismos Solutions Private Limited', 'ABG IT Services', 'Bangalore', 'Bangalore, Hyderabad', 'Chennai, Pune, Bangalore, Hyderabad', 'Chandigarh, Bangalore, Mumbai', 'Hyderabad', 'Pune', 'Mumbai', 'Chennai', 'Chandigarh', 'MBA']

In [4]:
scraper.get_result_similar(url,grouped=True)

{'rule_1rt9': ['PhonePe Private Limited',
  'Smart Cricket Global Limited',
  'Gfactors',
  'CogSciAi - Cognitive Science Artificial Intelligence Private Limited',
  'Vah Vah!',
  'Fedo',
  'Newgen Creations Private Limited',
  'Eloelo - Greenhorn Wellness Private Limited',
  'Lincode Labs Private Limited',
  'Bzaar',
  'Translab Technologies Private Limited',
  'Airtory',
  'Gloify',
  'ExxpertSCM (A Unit Of Thoughtware Training Private Limited)',
  'ExxpertSCM (A Unit Of Thoughtware Training Private Limited)',
  'Blismos Solutions Private Limited',
  'ABG IT Services'],
 'rule_25ui': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_6tee': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Chennai',
  'Bangalore',
  'Chandigarh',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_6tix': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Chennai',
  'Bangalore',
  'Chandigarh',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_87mr': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_b7ni': ['HR Analytics',
  'Computer Vision',
  'Machine Learning/Management Trainee',
  'Technical Program Management',
  'Business Analytics',
  'Data Science',
  'Machine Learning',
  'Business Analytics',
  'Data Science',
  'Research Analyst',
  'Big Data',
  'Data Analytics',
  'Machine Learning',
  'Data Analytics',
  'Data Analytics',
  'Data Engineering/Big Data Development & Testing',
  'Data Analytics'],
 'rule_ce2b': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_dssa': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_e9bz': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_ifa7': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_km63': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_mwkq': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_nsla': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_p9m1': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Hyderabad',
  'Bangalore',
  'Bangalore',
  'Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_pdlc': ['MBA', 'Bangalore'],
 'rule_rjj9': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Hyderabad',
  'Bangalore',
  'Bangalore',
  'Hyderabad',
  'Bangalore',
  'Pune',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_snp1': ['Bangalore'],
 'rule_uryb': ['Data Science', 'Bangalore'],
 'rule_xan6': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_xjeq': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_xvls': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore'],
 'rule_zyf3': ['Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Bangalore',
  'Bangalore, Hyderabad',
  'Bangalore',
  'Chennai, Pune, Bangalore, Hyderabad',
  'Bangalore',
  'Chandigarh, Bangalore, Mumbai',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore',
  'Bangalore']}

In [5]:
scraper.set_rule_aliases({'rule_25ui':'Location','rule_b7ni':'Role','rule_1rt9':'Company'})
scraper.keep_rules(['rule_25ui','rule_b7ni','rule_1rt9'])
scraper.save('url-search')

In [7]:
import pandas as pd

In [8]:
for i in range(6):
  results=scraper.get_result_similar(f'https://internshala.com/internships/data%20science-internship/page-{i+1}',group_by_alias=True)
  dict = {'Company': results['Company'], 'Location': results['Location'], 'Role': results['Role']}
  df = pd.DataFrame(dict) 
  df.to_csv(f'internshalla{i+1}.csv')

In [9]:
l = []
for i in range(6):
  l.append(f"internshalla{i+1}.csv")

In [10]:
l

['internshalla1.csv',
 'internshalla2.csv',
 'internshalla3.csv',
 'internshalla4.csv',
 'internshalla5.csv',
 'internshalla6.csv']

In [11]:
df = pd.concat(map(pd.read_csv, l), ignore_index=True)

In [12]:
df.shape

(207, 4)

In [13]:
df.head()

   Unnamed: 0  ...              Role
0           0  ...      HR Analytics
1           1  ...  Machine Learning
2           2  ...       Data Mining
3           3  ...     Data Scraping
4           4  ...  Machine Learning

[5 rows x 4 columns]

In [14]:
df.drop("Unnamed: 0",axis=1,inplace=True)
df.head()

                                Company         Location              Role
0               PhonePe Private Limited        Bangalore      HR Analytics
1                                  Azea   Work From Home  Machine Learning
2  Nimblekart Ecommerce Private Limited   Work From Home       Data Mining
3                        CvDragon India  Kolkata, Howrah     Data Scraping
4                              SkillBit             Pune  Machine Learning

In [15]:
df.to_csv('internshalla_final.csv')

In [23]:
for i in range(2):
  results=scraper.get_result_similar(f'https://internshala.com/internships/machine%20learning-internship/page-{i+1}',group_by_alias=True)
  dict = {'Company': results['Company'], 'Location': results['Location'], 'Role': results['Role']}
  df = pd.DataFrame(dict) 
  df.to_csv(f'internshalla{i+1}.csv')

In [24]:
l = []
for i in range(2):
  l.append(f"internshalla{i+1}.csv")

In [25]:
l

['internshalla1.csv', 'internshalla2.csv']

In [26]:
df = pd.concat(map(pd.read_csv, l), ignore_index=True)

In [ ]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [31]:
df.head()

                        Company  ...                                        Role
0                          Azea  ...                            Machine Learning
1                      SkillBit  ...                            Machine Learning
2             Spring Foundation  ...  Artificial Intelligence & Machine Learning
3  Smart Cricket Global Limited  ...                             Computer Vision
4                    Neha Yadav  ...                                      ML Dev

[5 rows x 3 columns]

In [32]:
df.to_csv('internshalla_final_ml.csv')